
<table>
  <tr>
    <th>Black User</th>
    <th>White User</th>
    <th>Game Active?</th>
    <th>View as Spectator</th>
    <th>Join as Player</th>
  </tr>

  <% @matches.each do |match| %>
    <tr>
      <td><%= match.black_user_name %></td>
      <td><%= match.white_user_name %></td>
      <td><%= match.active? %></td>
      <td><%= link_to "View", match_url(match) %></td>
      <td><%= link_to "Join", "" %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Start match?", new_match_url %>
