
<div class="jumbotron text-center">
  <p class="lead">Below is a list of all go games currently being played on the site:</p>
</div>

<style type="text/css">
  th { padding: 12px; }
  td { padding: 12px; }
</style>

<%= link_to "Start match?", new_match_url %>

<table class="matches">
  <tr>
    <th>Black</th>
    <th>White</th>
    <th>Board size</th>
    <th>View as Spectator</th>
    <th>Join as Player</th>
  </tr>

  <% @matches.each do |match| %>
    <tr>
      <td><%= match.black_user_email %></td>
      <td><%= match.white_user_email %></td>
      <td><%= match.board_width %>x<%= match.board_width %></td>
      <td><%= link_to "View", match_url(match) %></td>
      <td>
        <%= form_for match, action: :patch do |f| %>
          <%= f.submit "Join" unless match.joined? %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
