
<style type="text/css">
  th { padding: 12px; }
  td { padding: 12px; }
</style>

<%= link_to "Start match?", new_match_path %>

<div id="board-container">
<table class="matches table">
  <tr>
    <th>Moves</th>
    <th>Black user</th>
    <th>White user</th>
    <th>View</th>
  </tr>

  <% @matches.each do |match| %>
    <tr id="match_<%= match.id %>">
      <td><%= match.board.moves.count %></td>
      <td><%= match.black_user_name %></td>
      <td><%= match.white_user_name %></td>
      <td><%= link_to "View", match_path(match) %></td>
    </tr>
  <% end %>
</table>
</div>

<script type="text/javascript">
  var dispatcher = new WebSocketRails('<%= @websocket_url %>');
  var channel = dispatcher.subscribe("match_index");

  function updateMoveCounts(match){
    $("#match_" + match.id + " td:first-child").text(match.move_count);
  }

  channel.bind("show_match_stats", function(data) {
     updateMoveCounts(data.message);
  });
</script>
