<div>

  <%= form_for @match, action: :post do |f| %>
    <h2>Choose size of the board</h2>
    <%= f.label :board_size, '9x9' %>
    <%= f.radio_button :board_size, '9', checked: true %>

    <%= f.label :board_size, '13x13' %>
    <%= f.radio_button :board_size, '13' %>

    <%= f.label :board_size, '19x19' %>
    <%= f.radio_button :board_size, '19' %>

    <br />
    <br />

    <h2>Invite someone to join?</h2>
    <%= f.select(:white_user_id, [""] + @users.pluck(:email, :id)) %>

    <%= f.submit "Start Match" %>
  <% end %>
</div>


