<header>
  <span class="black-user">
    <%= @match.black_user_name %>
  </span>&nbsp;vs
  <span class="white-user">
    <%= @match.white_user_name %>
  </span>

  <br>
  <br>

  <span class="current-turn <%= @match.current_turn_color %>-user">
    Currently up: <span class="current-turn-color"><%= @match.current_turn_color %></span>
  </span>
</header>

<br>

<script>
</script>

<div class="board-container">
<% w = @width + BoardHelper::OFFSET %>
<svg id="board" width="<%= w %>" height="<%= w %>">
<rect xmlns="http://www.w3.org/2000/svg" width="<%= w %>" height="<%= w %>" fill="#DCB35C"/>
  <%= raw draw_board_svg(size: @match.board_size, width: @width) %>
  <%= raw draw_grid_intersection_points(size: @match.board_size, width: @width) %>
</svg>
</div>

<%= content_for :chatbox do %>
  <div>
    <div id="chat_div">
    </div>
    <hr />
    <div id="log">
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $("#chat_div").chatbox({id : "chat_div",
    title : "Chat",
    user : "<%= current_user.name %>",
    offset : 25,
    messageSent: function(id, user, msg){
      $("#chat_div").chatbox("option", "boxManager").addMsg(user, msg);
    }
  });

  // to insert a message
  $("#chat_div").chatbox("option", "boxManager").addMsg("gobot", "You can taunt your opponent here. Or just chat. I don't care");
});

</script>

